SECRET_KEY=django-insecure-replacethiswithsomethinglong123456789
DEBUG=True
DB_NAME=domestic_worker_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
REDIS_URL=redis://127.0.0.1:6379/0
AWS_ACCESS_KEY_ID=your_aws_key
AWS_SECRET_ACCESS_KEY=your_aws_secret
AWS_STORAGE_BUCKET_NAME=domestic-worker-docs
AWS_S3_REGION_NAME=ap-south-1
MSG91_API_KEY=your_msg91_key
MSG91_SENDER_ID=DWREG
MSG91_TEMPLATE_ID=your_template_id